In [1]:
import os

os.chdir('../..')

In [2]:
import numpy as np
import pandas as pd

In [3]:
load_path = os.path.join('data', 'kinect', 'lengths', 'kinect_lengths.csv')

df_lengths = pd.read_csv(load_path, index_col=0)

In [4]:
match_dir = os.path.join('data', 'matching')
df_match = pd.read_csv(os.path.join(match_dir, 'match_kinect_zeno.csv'))

In [5]:
# Body lengths of trials that have matching Zeno data
df_lengths_matched = df_lengths.loc[df_match.kinect].reset_index()

In [6]:
# Extract date and participant from file name
df_regex = df_lengths_matched.file_name.str.extract('(?P<date>\d{4}-\d{2}-\d{2})_P(?P<participant>\d{3})')
df_expanded = pd.concat((df_lengths_matched, df_regex), axis=1, sort=False)

In [19]:
df_grouped = df_expanded.groupby('participant').agg(['mean', 'std'])
df_grouped_round = np.round(df_grouped, 2)

In [20]:
print(df_grouped_round.to_latex())

\begin{tabular}{lrrrrrrrrrr}
\toprule
{} & \multicolumn{2}{l}{0} & \multicolumn{2}{l}{1} & \multicolumn{2}{l}{2} & \multicolumn{2}{l}{3} & \multicolumn{2}{l}{4} \\
{} &   mean &   std &   mean &   std &   mean &   std &   mean &   std &   mean &   std \\
participant &        &       &        &       &        &       &        &       &        &       \\
\midrule
004         &  65.15 &  0.59 &  15.12 &  0.49 &  14.69 &  0.38 &  22.23 &  0.76 &  23.61 &  0.18 \\
005         &  65.71 &  0.95 &  18.22 &  0.45 &  17.35 &  0.42 &  25.91 &  0.40 &  24.68 &  0.36 \\
006         &  66.74 &  0.87 &  16.12 &  0.56 &  16.87 &  0.87 &  28.01 &  0.64 &  25.13 &  0.53 \\
007         &  67.81 &  0.77 &  15.50 &  0.55 &  14.88 &  0.44 &  24.57 &  0.40 &  23.09 &  0.20 \\
\bottomrule
\end{tabular}

In [23]:
df_grouped_round

                 0            1            2            3            4
              mean   std   mean   std   mean   std   mean   std   mean   std
participant
004          65.15  0.59  15.12  0.49  14.69  0.38  22.23  0.76  23.61  0.18
005          65.71  0.95  18.22  0.45  17.35  0.42  25.91  0.40  24.68  0.36
006          66.74  0.87  16.12  0.56  16.87  0.87  28.01  0.64  25.13  0.53
007          67.81  0.77  15.50  0.55  14.88  0.44  24.57  0.40  23.09  0.20