In [87]:
import pandas as pd
import numpy as np

In [12]:
rows = [['Boy', 4, 10],
        ['Boy', 6, 10],
        ['Boy', 8, 10],
        ['Girl', 4, 10],
        ['Girl', 8, 10],
        ['Girl', 9, 10],
        ['Boy', 6, 11],
        ['Boy', 6, 11],
        ['Boy', 9, 11],
        ['Girl', 7, 11],
        ['Girl', 10, 11],
        ['Girl', 13, 11],
        ['Boy', 8, 12],
        ['Boy', 9, 12],
        ['Boy', 13, 12],
        ['Girl', 12, 12],
        ['Girl', 14, 12],
        ['Girl', 16, 12],
       ]

In [14]:
df = pd.DataFrame(data=rows, 
                  columns=['Gender', 'Score', 'Age'])

In [25]:
df

   Gender  Score  Age
0     Boy      4   10
1     Boy      6   10
2     Boy      8   10
3    Girl      4   10
4    Girl      8   10
5    Girl      9   10
6     Boy      6   11
7     Boy      6   11
8     Boy      9   11
9    Girl      7   11
10   Girl     10   11
11   Girl     13   11
12    Boy      8   12
13    Boy      9   12
14    Boy     13   12
15   Girl     12   12
16   Girl     14   12
17   Girl     16   12

In [62]:
df_count = df.pivot_table(index='Gender',
               columns='Age', 
               values='Score', 
               aggfunc='count')

In [64]:
df_mean = df.pivot_table(index='Gender',
                               columns='Age', 
                               values='Score')

In [79]:
count_rows = df_count.sum(axis=0)
count_cols = df_count.sum(axis=1)
count_total = df.Score.count()

In [74]:
mean_rows = df_mean.mean(axis=0)
mean_cols = df_mean.mean(axis=1)
mean_total = df.Score.mean()

In [91]:
sum_squares_cols = np.sum(count_cols * (mean_cols - mean_total) ** 2)
sum_squares_rows = np.sum(count_rows * (mean_rows - mean_total) ** 2)